h2 {
text-align: center;
font-size: 22px;
font-weight: 700;
margin: 60px 0 40px;
}


form {
width: 620px;
margin: 0 auto;
}


label {
display: block;
font-size: 14px;
font-weight: 700;
margin: 28px 0 10px;
}


input[type="text"] {
width: 100%;
height: 44px;
border: 1px solid #cfcfcf;
border-radius: 2px;
padding: 0 12px;
font-size: 14px;
background: #fff;
}


.form__error {
margin-top: 6px;
color: #ff5b5b;
font-size: 13px;
}


.button_change {
display: block;
width: 100%;
height: 46px;
margin: 60px auto 0;
background: #ff5b5b;
color: #fff;
border: none;
border-radius: 3px;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.button_change:hover {
opacity: 0.9;
}