.header__heading a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.auth-body {
background-color: #000;
padding: 12px 24px;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
}

